In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [2]:
enrolled_students = pd.read_csv('./../1.Data/TrainTest/enrolled_students.csv')

In [3]:
enrolled_students.head()

,Marital status_Divorced,Marital status_Married,Marital status_Other_Marital,Marital status_Single,Application mode_DegreeExperienceApp,Application mode_FirstPhaseApp,Application mode_OtherApp,Application mode_Over23App,Application mode_SecondThirdPhaseApp,Application mode_TransferApp,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Mother's occupation_M-OtherMiscellaneous
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,6,14,2,11.000,0,10.8,1.4,1.74,0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,7,8,6,13.500,0,16.2,0.3,-0.92,0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,8,9,8,11.425,0,12.7,3.7,-1.70,0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,6,12,4,11.000,0,7.6,2.6,0.32,0
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,5,7,4,13.000,0,9.4,-0.8,-3.12,0